.soldier-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.soldier-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #00b4d8;
}

.soldier-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #0096c7;
  color: white;
  cursor: pointer;
}

.soldier-box button:hover {
  background: #0077b6;
}

#searchName {
  flex: 1.5;
  border: 1px solid #00b4d8;
}

.list li button {
  float: left;
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
